<app-header titulo="alert page"></app-header>

<ion-content padding>
  <h1>Alert Page</h1>
  <ion-button (click)="presentAlert()">Present Alert</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" color="secondary">Present Alert Multiple Buttons</ion-button>
  <ion-button (click)="presentAlertConfirm()" color="tertiary">Present Alert Confirm</ion-button>
  <ion-button (click)="presentAlertPrompt()" color="success">Present Alert Prompt</ion-button>
  <ion-button (click)="presentAlertRadio()" color="warning">Present Alert Radio</ion-button>
  <ion-button (click)="presentAlertCheckbox()" color="danger">Present Alert CheckBox</ion-button>
</ion-content>
